/* 요소 숨기기 */
.hidden {
    display: none !important;
};


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    color: white;
    font-family: "Gothic A1", sans-serif;
    text-align: center;
}

header, footer {
    height: 8vh;
}

header {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;          /* Flexbox 레이아웃 사용 */
    flex-direction: column; /* 자식 요소들을 세로로 정렬 */
    align-items: center;    /* 수평 중앙 정렬 */
    height: 80vh;   
}

button {
    background-color: transparent;
    border: none;
}

input {
    border: none;
}

.rotate {
    transform: rotate(90deg);
}